{{#each randomBeer}}
    <div class="random-beers-info">
        <img src="{{image_url}}">
        <p>
            {{name}}
            {{description}}
            {{tagline}}
            {{food_pairing}}
            {{brewers_tips}}
        </p>
    </div>
{{/each}}